html {
  box-sizing: border-box;
  scroll-behavior: smooth; 
}

*, 
*::after, 
*::before {

box-sizing: inherit;
 
}
:root {
  --clr-gold: #bdae82;
  --clr-black: #000000;
  --clr-white: #ffffff;
  --second-font: "Merriweather", serif;
}

body {

  font-family: "Inter", sens-serif;
  color: var(--clr-white);
  font-weight: 400;
  background-color: var(--clr-black);
  }
  h1 {
    margin: 0;
    margin-bottom: 10px;
    font-family: var(--second-font);
  font-size: 60px;
  line-height: 120px;
  font-weight: 700;
  }

  h2 {
    margin: 0;
    font-family: var(--second-font);
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color: var(--clr-gold);
  
  }
  h3 {
    margin: 0;
    font-weight: bold;
   
  }
  
  .container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
  }


.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

  .header-container {
    min-height: 90px;
    display: flex;
    align-items: center;
    background: url('./assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;

  }

.nav {
    margin-left: auto;
    margin-right: 30px;
  }
  
.nav-list {
  margin: 0;
  padding: 0;
    display: flex;
    gap: 31px;
  align-items: center;
  list-style: none;
  }

  .nav-link {
  line-height: 50px;
 text-decoration: none;
 transition: .3s;
 font-size: 20px;
 color: var(--clr-white);
  }
 .nav-link:hover {
   color: var(--clr-gold);
   transition: .3s;

 }
 .logo {
  display: flex;
  cursor: pointer;
  transition: 0.3s;
}

.logo svg {
  fill: var(--clr-white);
  transition: fill .3s;
}
.logo svg:hover {
  fill: var(--clr-gold);
}



.language-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 20px;
  font-weight: 700;
}

.language-container::after {
content: "/";
position: absolute;
left: 50%;
font-size: 20px;
font-weight: 700;
line-height:50px;

}

.language-active {
  color: var(--clr-gold)
}



.hero-container {
  min-height: 820px;
  padding-top: 160px;
  padding-left: 80px;
  background-image: url('./assets/img/bg.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
}

.hero-content {
width: 470px;
}

.hero-content p {
  margin: 0;
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 40px;
}

.button {
width: 220px;
min-height: 55px;
font-size: 20px;
line-height: 40px;
background-color: var(--clr-gold);
font-family: inherit;
}

button:hover {
color: var(--clr-white)
}

.skills {
text-align: center;
padding-top: 100px;

}

.section-title {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 60px;
}

.section-title-wrap {
  display: flex;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  overflow-x: hidden;
  
}
.section-title::before, 
.section-title::after {
display: inline-block;
content:'';
width: 400px;
height: 2px;
background-color: var(--clr-gold);
}

.section-title::after {
right: 0;
}
.section-title::before {
left: 0;
}
.skills-list {
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;

}
.skills-item {
  max-width: 320px;
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 100px;
}
.skills-item__photo {
  background-image: url(./assets/svg/camera\ 1.svg);
 
}
.skills-item__video {
  background-image: url(./assets/svg/video\ 1.svg);
 

}
.skills-item__retouch {
  background-image: url(./assets/svg/image\ 1.svg);
 

}
.skills-item__audio {
  background-image: url(./assets/svg/mic\ 1.svg);
  

}
.skill-title {
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 20px;
  }

.skill-text {
  min-width: 280px;
  padding: 0 18px;
font-size: 18px;
line-height: 36px;
margin: 0;

}

.portfolio {
  text-align: center;
  padding-top: 110px;

}
.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;

}
.buttons-item:not(:last-child) {
  margin-right: 5px;


}
.portfolio-btn {
  background-color: var(--clr-black);
  color: var(--clr-gold);
  border: 2px solid var(--clr-gold);
}
.photos-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

.photo-link {
  display: flex;
}

.video {
  text-align: center;
  padding-top: 100px;
}

.video-container {
  position: relative;
  background-image: url(./assets/img/video-player.jpg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 705px;
}

.video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -65px;
  margin-left: -65px;
}

.video-btn svg {
  fill: var(--clr-white);

}

.video-btn svg:hover {
  fill: var(--clr-gold);
  transition: .3s;
}

.price {
  text-align: center;
  padding-top: 100px;
}

.price-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.price-item {
  min-width: 450px;
  padding: 40px;
  border: 3px solid var(--clr-gold);
}

.price-title {
  margin-bottom: 20px;
  font-family: var(--second-font);
  font-size: 28px;
  line-height: 56px;
}

.price-count {
  display: inline-block;
  margin-bottom: 20px;
  font-family: var(--second-font);
  font-size: 24px;
  line-height: 48px;
  color: var(--clr-gold)
}

.price-list-description {
  margin-bottom: 40px;
}

.description-item {
  font-size: 18px;
  line-height: 36px;
}

.contacts {
  padding-top: 100px;
}

.contacts-container {
  display: flex;
  justify-content: flex-end;
  min-height: 700px;
  background-image: url(./assets/img/contacts.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.contacts-wrap {
  min-width: 450px;
  padding-top: 60px;
}

.contacts-title {
  margin-bottom: 40px;
  color: var(--clr-gold);
}

.contacts-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contacts-field {
  padding: 3px 20px;
  border: 2px solid var(--clr-gold);
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  line-height: 40px;
  color: var(--clr-white);
}

.contacts-field::placeholder {
  color: var(--clr-gold);
}

.contacts-textarea {
  height: 100px;
  margin-bottom: 10px;
  resize: none;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 150px;
}

.footer-copyright {
  display: flex;
  gap: 20px;
  font-size: 20px;
  line-height: 50px;
  padding-right: 20px;
}

.footer-link {
  font-size: 20px;
  line-height: 50px;
  text-decoration: none;
  color: var(--clr-white);
  transition: color .3s;
}

.footer-link:hover {
  color: var(--clr-gold);
}

.footer-social-list {
  display: flex;
  gap: 20px;
}

.social-link {
  display: flex;
  text-decoration: none;
  color: var(--clr-white);
}

.social-link svg {
  fill: var(--clr-white);
  transition: fill  .3s;
}

.social-link svg:hover {
  fill: var(--clr-gold);
}